.container {
    background-color: #2a3740;
    max-width: 100%;
    max-height: 1000px;
}
h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
    color: yellow;
}

form {
    margin: 0 auto;
    width: 400px;
    background-color: #2a3740;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

input[type=text], input[type=email], input[type=tel] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=submit]:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}